# ─── MySQL Database ───────────────────────────────────────────
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=u725806930_brankystemlabs
DB_PASSWORD=Neel@2807
DB_NAME=u725806930_branky_stemlab
ADMIN_EMAIL=admin@brankystemlab.com
ADMIN_PASSWORD=neel@2807
# ─── JWT Secret Key ───────────────────────────────────────────
JWT_SECRET=Branky$STEM@2026
NODE_ENV=production
NEXT_PUBLIC_SITE_URL=https://brankystemlab.com
